<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="AttributeMappingSection" type="EmploApiSDK.Logic.EmployeeImport.AttributeMappingSection, EmploApiSDK, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <AttributeMappingSection>
    <AttributeMapping>
      <add name="NameId" value="FLD__ID" />
      <add name="Email" value="FKF_OSOB.FKF_OSOB.FKF_WIZYTOWKA.FKX_KNTK_DOM_KONTAKT_BY_RODZAJ_ADRES_20E_2DMAIL.FLD_KONTAKT" />
      <add name="FirstName" value="FKF_OSOB.FKF_OSOB.FLD_IMIE1" />
      <add name="LastName" value="FKF_OSOB.FKF_OSOB.FLD_NAZWISKO" />
      <add name="Position" value="FKF_STANOWISKO.FLD_NAZWA" />
      <add name="Unit" value="FKF_JEDN_ORG.FLD_NAZWA" />
      <add name="SuperiorLogin" value="FKF_JEDN_ORG.FKF_KIEROWNIK.FKF_WIZYTOWKA" />
    </AttributeMapping>
  </AttributeMappingSection>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Cogisoft Host -->
    <add key="EndpointAddress" value="https://81.219.183.190:5001" />
    <!-- Cogisoft Credentials -->
    <add key="LinkName" value="EMPLO" />
    <add key="LinkPassword" value="EMPLO" />
    <add key="OperatorLogin" value="EMPLO" />
    <add key="OperatorPassword" value="EMPLO" />
    <!-- Should Cogisoft Host certificate be validated -->
    <add key="ValidateCogisoftSslCertificate" value="true" />
    <!-- Vacation balance data is not always available immediately. This variable defines how many times this request should be repeated in case data is not available immediately -->
    <add key="GetVacationDataMaxRetryCount" value="10" />
    <!-- How often the vacation balance request should be repeated -->
    <add key="GetVacationDataRetryInterval_ms" value="10000" />
    <!-- How much should the vacation balance synchronization be delayed after a request to the Cogisoft API has been completed -->
    <add key="EmployeeVacationBalanceSynchronizationDelay_ms" value="300000" />
    <!-- Cogisoft Vacation type id (KOD NIEOBESNOŚCI) for which vacation days balance will be synchronized -->
    <add key="DefaultVacationTypeIdForSynchronization" value="3" />
    <!-- Change [mycompany] to proper emplo instance name -->
    <add key="EmploUrl" value="https://[mycompany].emplo.com" />
    <!-- emplo user login. Import will be made on behalf of this user. This user needs to have permissions for editing Employees' data
    and changing Employees' permissions. Any valid user account can be used, but we recommend to contact emplo support to create special technical 
    account for the purpose of importing data -->
    <add key="Login" value="example@example.com" />
    <!-- emplo user password -->
    <add key="Password" value="Ex@mplePa$sw0RD" />
    <!-- emplo API url path -->
    <add key="ApiPath" value="apiv2" />

    <!-- Available options: CreateOnly, UpdateOnly, CreateOrUpdate -->
    <!-- CreateOnly - existing users won't be updated, only new accounts will be created -->
    <!-- UpdateOnly - new accounts won't be created, only users already existing in emplo will be updated -->
    <!-- CreateOrUpdate - new account will be created and existing users will be updated -->
    <add key="ImportMode" value="CreateOrUpdate" />

    <!-- Defines how many employees are imported in one request to API, should be set to reasonably small value to avoid timeouts -->
    <add key="ChunkSize" value="5" />

    <!-- If set to True, new Employees after first login will be redirected to a registration form and will be asked to fill missing data (eg. photo) -->
    <add key="RequireRegistrationForNewEmployees" value="False" />

    <!-- Block user account in emplo if the user is not present on the list returned by Query. Only users with external NameId will be blocked -->
    <add key="BlockSkippedUsers" value="False" />
    
    <!-- Dry run mode allows to print data from Cogisoft to a log file without sending data to emplo -->
    <add key="DryRun" value="False" />

    <!-- Defines the page size of the employee- or vacation-data-retrieving Cogisoft queries -->
    <add key="CogisoftQueryPageSize" value="1000" />

    <!-- Serilog rolling file configuration -->
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\import\{Date}.txt" />
    <add key="serilog:write-to:RollingFile.shared" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules></httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules></modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.3.0" newVersion="3.3.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  
</configuration>
<!--ProjectGuid: 4B46B675-1DA1-4059-A984-F57D5B91E84D-->